a {
    text-decoration: none;
}
/*
.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#logo {
    height: 10vh;
    margin-right: 25px;
}
*/
.navbar, .footer-navbar {
    background: white;
}

.navbar {
    margin-bottom: 20px;
    font-size: 2rem;
}
.nav, .footer-nav {
    display: flex;
}
ul.nav-items, ul.footer-text {
    display: flex;    
    margin: auto 0 auto auto;
}

.logo img {
    width: 100%;
    max-width: 250px;
}

.navbar ul, .navbar li {
    list-style-type: none;
    margin-right : 10px;
}

/*Order overview*/
.orders-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.orders-page .footer {
    margin-top: auto;
}

.order .u-full-width {
    display:flex;
    justify-content: space-around;
  }
  
  .order .u-full-width div {
  width: 20%;
  text-align: center;
  }

  .order-header {
      margin-bottom: 20px;
  }

  .track a.disabled {
      background: lightgrey !important; 
      border: none;
  }

  /*indiv orders*/

.orderPanel {
    height: 90vh;
}

.orderPanel .container{
    height: 100%;
}

.orderPanel column {
    display: flex;
    flex-direction: column;

}

.orderDetails {
    width: 100%;
}

.orderDetails li, .orderNotes li, .deliveryInfo li  {
    font-weight: bold;
}

.orderDetails>ul, .orderNotes>ul, .deliveryInfo ul {
    list-style: none;
}

.orderDetails li span, .orderNotes li span, .orderNotes li select, .orderNotesList li, .orderContents li, .deliveryInfo li span{
    font-weight: normal;
}

.orderNotes textarea {
    width: 90%;
    min-height: 125px;
    margin: 10px 0 10px 10px;
}

.deliveryInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.estimatedArrival {
    text-align: center;
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid black;
    padding: 35px 10px;
    margin-bottom: 0;
}

.estimatedArrival h4 {
    margin-bottom: 0;
}
.estimatedArrival p {
    font-size: 2rem;
}
.truckDriver {
    width: 80%;
    height: auto;
    border-radius: 1em;
    border: 1px solid black;
}

.eta-time{
    font-size: 5rem;
    font-weight: bold;
}

.contact-us {
    margin-top: 50px;
}

/*Settings*/
.settings {
    display: flex;
    min-height: 75vh;
    align-items: center;
    background: white;
    margin: 6rem auto;
    box-shadow: 1px 1px 80px #dddddd;
}

.footer-logo img {
    width: 100%;
    max-width: 200px;
}

ul.footer-text {
    list-style: none;
}

input[type="submit"].button-primary {
    margin: 1.5rem 0;
}